@import url('https://fonts.cdnfonts.com/css/lagu-sans');
@import "tailwindcss";



:root {
    --background: #f6f6f6;
}

body {
    background: var(--background);
    font-family: 'Lagu Sans', sans-serif;
}

.flex-center{
    @apply flex items-center justify-center;
}

.card:hover .bgColor,
.card:hover .titleDark,
.card:hover .bgDark,
.card:hover .bgTheme {
    @apply transition-all duration-300;
    transform: perspective(1200px) translateY(7%) rotateX(40deg);
    box-shadow: 0 35px 32px -8px rgba(0, 0, 0, 0.5) !important;
}


.card .character {
    .Jinhsi{
        @apply translate-y-10 -translate-x-1
    }
    .Augusta{
        @apply translate-y-10
    }
    .Cantarella{
        @apply translate-y-5 -translate-x-7
    }
    .Ciaccona{
        @apply  -translate-x-10
    }
    .Changli{
        @apply translate-y-5 -translate-x-7
    }
    .Iuno{
        @apply translate-y-10
    }
    .Lupa{
        @apply scale-185 translate-y-7
    }
    .Phrolova{
        @apply translate-y-15
    }
    .Shorekeeper{
        @apply -translate-x-25
    }
    .Yinlin{
        @apply scale-130 -translate-y-5
    }
    .Zani{
        @apply scale-150 -translate-x-6 translate-y-0
    }
    .Zhezhi{
        @apply scale-150 -translate-y-20
    }
}

.Jinhsi{
    @apply -translate-x-1
}
.Cantarella{
    @apply -translate-x-7
}

.Ciaccona{
    @apply -translate-x-10
}
.Changli{
    @apply -translate-x-7
}
.Shorekeeper{
    @apply -translate-x-25
}
.Zani{
    @apply scale-150 -translate-x-6
}
.Zhezhi{
    @apply scale-150 translate-y-0
}