@import "tailwindcss";

*{
    transition: all 0.3s ease-in-out;
}

.focus-gallery {
	display: flex;
	overflow-x: scroll;
	scroll-snap-align: x mandatory;
	scroll-snap-type: x mandatory;
	height: 100vh;
	align-items: center;
	gap: 200px;
	padding: 0 calc(50vw - 150px);
    overscroll-behavior-x: contain;
	stroke-width: none;
	scroll-behavior: auto;
}

.focus-gallery::-webkit-scrollbar {
	display: none;
}

.items {
	flex: 0 0 240px;
	height: 400px;
	/* background: linear-gradient(45deg, #fd79a8, #e84393); */
	scroll-snap-align: center;
	animation: pop-in linear both;
	animation-timeline: view(x);
}

@keyframes pop-in {
	0% {
		transform: scale(0.5) rotate(-10deg);
		overflow: hidden;
		filter: brightness(0.35);
	}
	25% {
		overflow: hidden;
	}
	50% {
		transform: scale(1.1) rotate(0deg);
		overflow: visible;
		filter: brightness(1);
	}
	75% {
		overflow: hidden;
	}
	100% {
		transform: scale(0.5) rotate(10deg);
		overflow: hidden;
		filter: brightness(0.35);
	}
}
